body {
    margin: 0;
    background: linear-gradient(to bottom right, #f5b3ec, #fff, #a5e2ee) fixed;
    font-family: 'Patrick Hand', sans-serif;
    text-align : center;
    color: #ce8ae2;
}
#content {
    height: 260px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 img {
    width: 400px;
    margin-bottom: 20px;
}

a, #iddiscord {
    font-size: 1.5em;
}

a {
    color: #ce8ae2;
    text-decoration: none;
    transition: all 0.5s;
    margin: .2em 0;
    padding: .2em .5em;
    border-radius: 0.5em;
}
a:hover {
    background-color: #ce8ae2;
    color: #fff;
}

.fancybox-bg {
    background: #f2a7e8c4 !important;
}

::selection {
    background: #f2a7e8;
    text-shadow: none;
}
::-moz-selection {
    background: #f2a7e8;
    text-shadow: none;
}

@media screen and (max-width: 660px) {
    #content {
        margin: auto;
        margin-top: 15vh;
        position: unset;
    }
    a {
        display: block;
        margin: .3em 1em;
        padding: .3em .5em;
    }
    h1 img {
        width: 300px;
    }
}
@media screen and (min-width: 640px) {
    .small {
        display: none;
    }
}
